<p id="notice"><%= notice %></p>

<p>
  <strong>Point:</strong>
  <%= @check.point %>
</p>

<p>
  <strong>User:</strong>
  <%= @check.user %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @check.image_url %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @check.datetime %>
</p>

<p>
  <strong>Message:</strong>
  <%= @check.message %>
</p>

<%= link_to 'Edit', edit_check_path(@check) %> |
<%= link_to 'Back', checks_path %>
